html, body {
    margin: 0;
    height: 100%;
}

body {

}

.my-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}


header {
    background-color: purple;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav {
    flex-wrap: nowrap;
    /* border: solid; */
}

nav {
    background-color: purple 
}

header h1 {
    color: #fff;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    flex: 1 1 0;
}

nav a {
    text-decoration: none;
    color: #fff;
    display: flex;
    padding: 10px;
}

/*  

ID = #something
class = .something

hirveästi spagettikoodia ja tuhlattuja tunteja
monta eri pätkää koodista laitettu ihan vain että itse ymmärtäisi missä mikäkin on kun
ei näe kun pitää hiirtä jonkin div tai muun class:in päällä että minkä kokoinen se on
*/


.main-content {
    display: flex;
    background-color: aqua;
    flex: 1;
}

.main-content .sidebar {
    min-width: 20vh;
    flex-direction: column;
    background-color: tomato;
}

.main-content .sidebar a:link {
    text-decoration: none;
    list-style-type: none;
}

.main-content .flex-articles {
    display: flex;
    text-align: center;
    flex-direction: column;
    /* border: solid; */
    flex-grow: inherit;
    /* background-color: aquamarine; */
}

.flex-articles p {
   /* border: solid; */
    font-size: 17px;
    font-family: sans-serif;
}

aside ul li {
    display: flex;
    text-decoration: none;
    list-style-type: none;
}

footer {
    display: flex;
    background-color: purple;
    text-align: center;
    justify-content: center;
}

footer p a {
    text-align: center;
}

