header {
    background-color: purple;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*  

#something = ID 
.something = class 

*/

nav {
    background-color: purple 
}

header h1 {
    color: #fff;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    flex: 1 1 0;
}

nav a {
    text-decoration: none;
    color: #fff;
    display: flex;
    padding: 10px;
}

section {
    display: flex;
    
    text-align: center;
    flex-direction: column;
}

article {
    margin-left: 7%;
    background-color: aqua;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: tomato;
    margin-right: 93%;
}

aside a {
    display: flex;
    text-decoration: none;
    list-style-type: none;
}

footer {
    display: flex;
    background-color: green;
    text-align: center;
}
footer p {

}
